@import '../_variables.sass'

.wp-block-childress-capabilities
    padding-bottom: 30px
    padding-top: 30px
    text-align: center

    canvas
        opacity: 0
        transition: opacity .3s ease
        display: none

    .capabilities
        &__heading
            margin-bottom: 30px

        &__title
            +font-size(42)

        &__subtitle
            +font-size(36)
            font-style: italic
            font-weight: normal

        &__column
            margin-bottom: 60px

            &:hover
              .capabilities__icon
                background-image: url(../images/blob-gradient.png)
                background-repeat: no-repeat
                background-size: contain

              .capabilities__icon img
                    opacity: 0

                    &:first-of-type
                        opacity: 1

            &--active
                canvas
                    opacity: 1

        &__column-title
            +font-size(28)
            color: $color-secondary
            font-weight: bold
            margin-bottom: 30px

        &__icon
            align-items: center
            display: flex
            justify-content: center
            position: relative
            margin-bottom: 60px
            padding-top: 45px
            padding-bottom: 45px

            img
                display: block
                height: 150px
                z-index: 1
                transition: opacity .3s ease

                &:first-of-type
                    opacity: 0
                    position: absolute

        &__icon-hover-bg
            border-radius: 50%
            height: 350px
            left: 50%
            position: absolute
            top: 50%
            transform: translate(-50%, -50%) rotate(22deg)
            width: 350px


@media screen and ( min-width: 768px )
    .wp-block-childress-capabilities
        .capabilities
            &__columns
                display: flex

            &__column
                flex: 1
                margin-bottom: 0
                padding: 0 15px

@media screen and ( min-width: 992px )
    .wp-block-childress-capabilities
        .capabilities
            &__column
                padding: 0 30px
